* {
    margin: 0;
    padding: 0;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::selection {
        color: #fff;
        opacity: 1;

    }
}

body {
    font-family: $font-primary;
    color: $base-text-color;
    line-height: $line-height-base;

}

img {
    max-width: 100%;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    color: currentColor;
}

img,
video,
iframe {
    vertical-align: top;
}

p {
    margin-top: 0;
}

.h,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    margin-top: 0;
}



strong, b {
    font-weight: 700;
}

