.delivery-row-icon
  background: url(../img/delivery.svg) 0 0 no-repeat
  padding: 0 0 0 220px
  min-height: 130px
  font-size: 18px
  color: #000
  max-width: 1040px
  margin: 0 auto 30px

.payment-row-icon
  background: url(../img/oplata.svg) 0 50px no-repeat
  padding: 0 0 0 220px
  min-height: 130px
  font-size: 18px
  color: #000
  max-width: 1040px
  margin: 0 auto 30px

.bonus-row-icon
  background: url(../img/bonus-program.svg) 50px 0 no-repeat
  padding: 0 0 0 270px
  min-height: 130px
  font-size: 18px
  color: #000
  max-width: 1040px
  margin: 0 auto 30px


.payment-card-center
  text-align: center
  span
    display: inline-block
    vertical-align: middle
    margin: 20px 25px

.bonus-content
  margin: 0 auto
  max-width: 840px
  .h-title
    font-size: 21px
    color: #000000
    padding-bottom: 15px
    text-transform: uppercase
  .small-text
    padding-top: 10px
    color: #828282
    font-size: 14px
