.lk-wrapper
  display: flex
  color: #000000
  a
    color: #000000
    text-decoration: none
.lk-menu
  flex: 0 0 390px
  margin-right: 50px
  font-size: 21px
  text-transform: uppercase
  &--order
  flex: 0 0 280px
  .b-num-order, .b-data-order, .b-status-order
    padding-bottom: 15px
    span
      display: block
  ul
    margin: 0
    padding: 0
    list-style: none
    border-top: 1px solid #000
    li
      display: block
      padding: 13px 0
      border-bottom: 1px solid #000
      a
        display: block
        position: relative
        padding-right: 20px
        max-width: 340px
        &:after
          content: ""
          background: url(../img/sort-up.svg) 50% 50% no-repeat
          background-size: contain;
          width: 12px
          height: 12px
          display: block
          transform: rotate(90deg)
          position: absolute
          top: 6px
          right: 0
.lk-content
  flex: 1 1 auto
  .h-title
    padding-bottom: 20px
    font-size: 21px
    text-transform: uppercase
  .b-bonus
    color: #FF8A00
    font-size: 24px
    font-weight: bold
    max-width: 500px
    border: 1px solid #000000
    padding: 12px 20px
  .list-gender
    margin: 0
    padding: 0
    list-style: none
    li
      display: inline-block
      vertical-align: top
      margin-bottom: 20px
      margin-right: 20px
.personal-form
  margin-bottom: 30px
  .input
    width: 100%
  &__row
    padding-bottom: 15px

    
.list-docs
  margin: 0
  padding: 0
  list-style: none
  li
    display: inline-block
    vertical-align: top
    margin-right: 20px
    text-align: center
    font-size: 14px
    max-width: 185px
    padding: 10px 0
    a
      color: #000
      text-decoration: none
    .ico
      display: block
      padding-bottom: 5px
    .name
    
