*, ::after, ::before {
    box-sizing: border-box;
}
svg {
  vertical-align: top;
  width: auto;
  height: auto;
  max-width: 100%;
  display: inline-block;
}
body {
  position: relative;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  font-size: 18px;
}

.container {
  margin: 0 auto;
  max-width: 1193px;
}
