<% var classes = {
  bodyClass: "home-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="">Главная</a></li>
      <li><a href="">Каталог</a></li>
    </ul>
    <div class="content-wrapper">
      <div class="content">
        <h2 class="line-h1 line-h1--orange">Бонусная программа</h2>
        <div class="bonus-row-icon">
          <p>Какой-то текст. Статьи и видео о красоте и косметике, новости бьюти-индустрии, секреты красоты, обзоры средств Какой-то текст. Статьи и видео о красоте и косметике, новости бьюти-индустрии, секреты красоты, обзоры средств</p>
        </div>
        <article class="article">
          <p>Hyalual (Гиалуаль) — основанный в 2008 году бренд эстетической медицины, возникший под началом международной фармацевтической корпорации YURIA-PHARM. Специализируется на разработке научно обоснованных решений в сфере эстетической медицины. Располагает научно-исследовательскими центрами в Швейцарии и Италии. Выпускает средства для биоревитализации, мезотерапии, а также профессиональную космецевтику для салонного и домашнего ухода.</p>
        </article>
        <div class="bonus-content">
          <div class="h-title">Оставьте ваши контакты, и менеджер свяжется с вами</div>
          <div class="personal-form">
            <div class="personal-form__row">
              <input placeholder="Имя" type="text" class="input">
            </div>
            <div class="personal-form__row">
              <input placeholder="Фамилия" type="text" class="input">
            </div>
            <div class="personal-form__row">
              <input placeholder="E-Mail" type="text" class="input">
            </div>
            <div class="personal-form__row">
              <input placeholder="Город" type="text" class="input input-search-addr">
            </div>
            <div class="personal-form__row">
              <button class="btn-orange btn--100">отправить заявку</button>
            </div>
            <div class="personal-form__row">
              <div class="b-check">
                <label>
                  <input type="checkbox">
                  <span>Согласен на обработку моих данных *</span>
                </label>
              </div>
              <div class="small-text">*Обязательное поле</div>
            </div>
          </div><!--end personal-form -->
        </div>


      </div><!--end content -->
    </div><!--end content-wrapper -->
  </div><!--end container -->
</section><!--end content -->


<%= _.template(require('./../includes/footer.html').default)(data) %>

<%= _.template(require('./../includes/end-of-page.html').default)() %>
