<% var classes = {
  bodyClass: "home-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="">Главная</a></li>
      <li><a href="">Каталог</a></li>
    </ul>
    <div class="content-wrapper">
      <div class="content">
        <h2 class="line-h1 line-h1--orange">Доставка</h2>
        <article class="article">
        <div class="delivery-row-icon">
          <ul>
            <li>Самовывоз с 10:00 до 18:00 — бесплатно, г. Екатеринбург, проспект Ленина 68, офис 201
              </li>
            <li>Доставка по г. Екатеринбургу, В. Пышме, Березовскому —  250 рублей. При заказе от 5 000 рублей — бесплатно</li>
            <li>
              В регионы. Стоимость доставки рассчитывается индивидуально после оформления заказа. Доставка осуществляется транспортными компаниями СДЭК, DPD. Можем отправить и любой другой компанией на ваш выбор. Бесплатная доставка от 20 000 рублей.</li>
          </ul>
        </div>
        <h2>Условия доставки</h2>
        <ul class="list-bef">
          <li>Если Вы разместили/оплатили заказ до 13.00 — курьер приедет к Вам в интервале с 15:00 до 20:00
          </li>
          <li>Если Вы разместили/оплатили заказ после 13.00 — доставка осуществляется на следующий рабочий день</li>
          <li>Если вы разместили/оплатили заказ в праздничные или выходные дни (суббота, воскресенье) — доставка осуществляется в первый рабочий день с 12:00 до 20:00</li>
        </ul>
        <p>После оформления заказа с Вами свяжется менеджер для подтверждения даты и адреса доставки.
          Срок доставки от 1 до 2 рабочих дней, в случае большого объема заказов срок может быть увеличен.</p>
        <h2>Получение заказа третьим лицом</h2>
          <ul>
            <li>Если по какой-то причине вы не можете забрать заказ, Вам необходимо написать доверенность на получение заказа третьим лицом. Данную доверенность третьему лицу необходимо предъявить водителю при получении заказа, а так же паспорт.</li>
          </ul>
          <p class="text-orange">Не забудьте при доставке!</p>
          <p>Просьба проверять товар при курьере на наличие брака и неправильного вложения, претензии к комплектации после оплаты курьеру не принимаются.</p>
          <p>Доставка не осуществляется на станции метро, парки, автомобильные парковки, торговые площади и другие места при отсутствии точного адреса.</p>
          <p>Покупатель вправе изменять адрес доставки до передачи Товара в службу доставки. Товар подлежит отправке Покупателю после согласования Сторонами новых условий доставки.</p>
          <p>В связи с погодными условиями в России зимой, некоторый Товар может замерзнуть при доставке/транспортировке. Логистические компании доставляют заказы наземным, неотапливаемым транспортом. Продавец не несет ответственность за замерзший Товар.</p>
          <p>Представитель службы доставки не является консультантом по использованию Товара. При возникновении вопросов по Товару Покупатель должен обратиться к Продавцу или по контактным данным, указанным в документации к Товару.</p>
        </article>
        <h2 class="line-h1 line-h1--blue">Оплата</h2>
        <article class="article">
          <div class="payment-row-icon">
            <h2>Уважаемые клиенты, Мы предлагаем Вам следующие варианты оплаты:</h2>
            <ul>
              <li>При получении препаратов в офисе продаж оплата по QR-коду через ваш онлайн-банк, наличными или картой любой платёжной системы.</li>
              <li>При доставке по г. Екатеринбургу, г. В.Пышме, г.Березовскому оплата по QR-коду через ваш онлайн-банк, картой любой платёжной системы или наличными курьеру.</li>
              <li>ВНИМАНИЕ! Проверяйте ваши заказы при курьере. Оплата наличными при доставке заказа в другие города невозможна.</li>
              <li>Оплата заказа банковской картой. На этапе оформления заказа заполните все необходимые поля и выберите способ оплаты «Пластиковой картой онлайн».</li>
              <li>Нажмите кнопку «Оформить заказ». Вы перейдёте на страницу подтверждения данных заказа. Нужно нажать кнопку «Оплатить сейчас».</li>
              <li>Оплата по счету (для юр.лиц).</li>
            </ul>
          </div>
          <p>На этапе оформления заказа заполните все необходимые поля и выберите способ оплаты «Оплата по счету для юр.лиц». В появившемся окне внесите реквизиты вашей компании, затем нажмите кнопку «Оформить заказ». Далее с вами свяжется менеджер для уточнения деталей заказа. Счет на оплату формируется после звонка. Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку Оплата заказа банковской картой.</p>
          <p>Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:</p>
          <div class="payment-card-center">
            <span><img src="img/bb1.svg" alt=""></span>
            <span><img src="img/bb2.svg" alt=""></span>
            <span><img width="105" src="img/bb3.png" alt=""></span>
            <span><img width="70" src="img/bb4.png" alt=""></span>
          </div>
          <p>Отгрузка заказов оформленных доставкой Почтой России и в некоторые ПВЗ в регионах осуществляются только по предоплате.</p>
          <p>Если вы выбрали оплату заказа банковской картой, то средства будут холдированы (заблокированы) на вашем счету, до полной сборки вашего заказа, уточнения всех деталей доставки. При отсутствии в наличии каких-то товаров, внесении изменения в заказ или отмены заказа, средства будут разблокированы на вашем счету. Далее будет перевыставлен счет на новую сумму, если это требуется.</p>
          <p>Обращаем ваше внимание, что срок возврата денежных средств зависит от вашего банка и может занимать до 30 календарных дней. Но обычно холдированные средства возвращаются в течении 1-2 дней.</p>

          <p>*При выборе оплаты онлайн, выставленный счет на оплату заказа действителен в течение 3 календарных дней, далее заказ отменяется автоматически.</p>
          <h2>ОПИСАНИЕ ПРОЦЕССА ПЕРЕДАЧИ ДАННЫХ</h2>
          <p>Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК.</p>
          <p>Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.</p>
          <p>В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl</p>
        </article>
      </div><!--end content -->
    </div><!--end content-wrapper -->
  </div><!--end container -->
</section><!--end content -->


<%= _.template(require('./../includes/footer.html').default)(data) %>

<%= _.template(require('./../includes/end-of-page.html').default)() %>
