<% var classes = {
  bodyClass: "home-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<div class="content">
  <div class="container">
    <div class="main-sliders-top">
      <div class="main-sliders-top__left">
        <div class="slider">
          <div class="slide">
            <div class="slide-cont slide-blue">
              <div class="b-img">
                <img src="img/slide1.png" alt="">
                <div class="slide-bottom">
                  <div class="slide-bottom__icon"><img src="img/syringe.svg" alt=""></div>
                  <div class="b-btn"><a href="" class="btn-link">ДЛя врачей</a></div>
                </div>
              </div>
            </div>
          </div><!--end slide -->
          <div class="slide">
            <div class="slide-cont slide-orange">
              <div class="b-img">
                <img src="img/slide2.png" alt="">
                <div class="slide-bottom">
                  <div class="slide-bottom__icon"><img src="img/market.svg" alt=""></div>
                  <div class="b-btn"><a href="" class="btn-link">магазин</a></div>
                </div>
              </div>
            </div>
          </div><!--end slide -->
        </div>
      </div><!-- /.b-slider-left -->
      <div class="main-sliders-top__right">
        <div class="slider">
          <div class="slide">
            <div class="slide-cont slide-blue">
              <div class="b-img">
                <img src="img/slide1.png" alt="">
                <div class="slide-bottom">
                  <div class="slide-bottom__icon"><img src="img/syringe.svg" alt=""></div>
                  <div class="b-btn"><a href="" class="btn-link">ДЛя врачей</a></div>
                </div>
              </div>
            </div>
          </div><!--end slide -->
          <div class="slide">
            <div class="slide-cont slide-orange">
              <div class="b-img">
                <img src="img/slide2.png" alt="">
                <div class="slide-bottom">
                  <div class="slide-bottom__icon"><img src="img/market.svg" alt=""></div>
                  <div class="b-btn"><a href="" class="btn-link">магазин</a></div>
                </div>
              </div>
            </div>
          </div><!--end slide -->
        </div>
      </div><!-- /.b-slider-right -->
    </div><!-- /.main-sliders-top -->
    <h2 class="line-h1 line-h1--blue">надежный поставщик
      лучших косметических брендов</h2>
    <div class="main-two-banners">
      <div class="b-bann"><a href=""><img src="img/ban1.png" alt=""></a></div>
      <div class="b-bann"><a href=""><img src="img/ban2.png" alt=""></a></div>
    </div>
    <div class="section-orange">
      <h2 class="line-h1 line-h1--blue">категории товаров</h2>
      <div class="category-item">
        <div class="item">
          <div class="img"><img src="img/ic1.svg" alt=""></div>
          <div class="title">Филлеры</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic2.svg" alt=""></div>
          <div class="title">Био-ревитализанты</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic3.svg" alt=""></div>
          <div class="title">Пилинги</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic4.svg" alt=""></div>
          <div class="title">Скинбустеры</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic5.svg" alt=""></div>
          <div class="title">Космецевтика</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic6.svg" alt=""></div>
          <div class="title">Мезопрепараты</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic7.svg" alt=""></div>
          <div class="title">Нитевая имплантология</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic8.svg" alt=""></div>
          <div class="title">Расходные материалы</div>
        </div><!--end item -->
      </div><!--end category-item -->
    </div><!--end section-orange -->
    <h2 class="line-h1 line-h1--blue">лидеры продаж</h2>
    <div class="slider-lider">
      <div class="slider">
        <div class="slide">
          <div class="item">
            <div class="img"><a href="#"><img src="img/item.png" alt=""></a></div>
            <div class="title"><a href="#">Equilibrium Crema Mani</a></div>
            <div class="desc"><a href="#">Crema mani idratante
              a rapido assorbimento</a></div>
            <div class="option">TUBO 50 ML</div>
            <div class="bottom-row">
              <div class="cost">3 864 ₽</div>
              <div class="raiting">
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
              </div>
            </div>
          </div><!--end item -->
        </div><!--end slide -->
        <div class="slide">
          <div class="item">
            <div class="img"><a href="#"><img src="img/item.png" alt=""></a></div>
            <div class="title"><a href="#">Equilibrium Crema Mani</a></div>
            <div class="desc"><a href="#">Crema mani idratante
              a rapido assorbimento</a></div>
            <div class="option">TUBO 50 ML</div>
            <div class="bottom-row">
              <div class="cost">3 864 ₽</div>
              <div class="raiting">
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
              </div>
            </div>
          </div><!--end item -->
        </div><!--end slide -->
        <div class="slide">
          <div class="item">
            <div class="img"><a href="#"><img src="img/item.png" alt=""></a></div>
            <div class="title"><a href="#">Equilibrium Crema Mani</a></div>
            <div class="desc"><a href="#">Crema mani idratante
              a rapido assorbimento</a></div>
            <div class="option">TUBO 50 ML</div>
            <div class="bottom-row">
              <div class="cost">3 864 ₽</div>
              <div class="raiting">
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
              </div>
            </div>
          </div><!--end item -->
        </div><!--end slide -->
        <div class="slide">
          <div class="item">
            <div class="img"><a href="#"><img src="img/item.png" alt=""></a></div>
            <div class="title"><a href="#">Equilibrium Crema Mani</a></div>
            <div class="desc"><a href="#">Crema mani idratante
              a rapido assorbimento</a></div>
            <div class="option">TUBO 50 ML</div>
            <div class="bottom-row">
              <div class="cost">3 864 ₽</div>
              <div class="raiting">
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
              </div>
            </div>
          </div><!--end item -->
        </div><!--end slide -->
      </div>
    </div>
    <div class="section-blue">
      <div class="b-about-title">
        <h2 class="line-h1 line-h1--orange">О компании</h2>
        <div class="text">??? какой то текст о нас  – Мы сделали всё за вас и подобрали товары, которые вас привлекают больше всего. Уверены, вас что-нибудь заинтересует!</div>
      </div>
      <div class="category-item">
        <div class="item">
          <div class="img"><img src="img/ic9.svg" alt=""></div>
          <div class="title"> лучшие
            бренды</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic1.svg" alt=""></div>
          <div class="title">быстрая
            доставка</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic1.svg" alt=""></div>
          <div class="title">бонусы и скидки</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic1.svg" alt=""></div>
          <div class="title">поддержка</div>
        </div><!--end item -->
        <div class="item">
          <div class="img"><img src="img/ic1.svg" alt=""></div>
          <div class="title">обучение</div>
        </div><!--end item -->
      </div>
      <div class="bottom-btn"><a href="#" class="btn-orange">подробнее</a></div>
    </div><!--end section-blue -->
    <h2 class="line-h1 line-h1--orange">бренды</h2>
    <div class="slider-brands">
      <div class="slider">
        <div class="slide">
          <a href="#" class="part"><img src="img/part1.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part2.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part3.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part4.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part5.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part6.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part7.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part8.svg" alt=""></a>
        </div>
        <div class="slide">
          <a href="#" class="part"><img src="img/part9.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="section-orange">
      <h2 class="line-h1 line-h1--blue">Нужна консультация?</h2>
      <div class="consultation-text">
        Подробно расскажем о нашей продукции, условиях покупки и доставке, подготовим индивидуальные предложения для оптовых клиентов.
      </div>
      <div class="b-btn-center"><a href="#" class="btn-orange">задать вопрос</a></div>
    </div>
  </div><!--end container -->
</div><!--end content -->



<%= _.template(require('./../includes/footer.html').default)(data) %>

<%= _.template(require('./../includes/end-of-page.html').default)() %>
