<% var classes = {
  bodyClass: "home-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main">
  <div class="container">

    <h2 class="line-h1 line-h1--blue">навигация</h2>
    <ul>
      <li><a href="main.html">главная</a></li>
      <li><a href="catalog.html">каталог</a></li>
      <li><a href="catalog-item.html">карточка товара</a></li>
      <li><a href="oform1.html">оформление 1</a></li>
      <li><a href="oform2.html">оформление 2</a></li>
      <li><a href="cart.html">корзина</a></li>
      <li><a href="lk.html">Личный кабинет</a></li>
      <li><a href="lk-bonus.html">Лк бонус</a></li>
      <li><a href="lk-fav.html">Лк отложенное</a></li>
      <li><a href="lk-history.html">Лк история</a></li>
      <li><a href="lk-view.html">Лк просматривали</a></li>
      <li><a href="bonus-program.html">бонусная программа</a></li>
      <li><a href="delivery.html">доставка</a></li>
      <li><a href="contacts.html">контакты</a></li>
      <li><a href="return.html">возврат</a></li>
      <li><a href="article.html">статья</a></li>
      <li><a href="obych.html">обучение</a></li>
      <li><a href="partner.html">партнеры</a></li>
      <li><a href="politika.html">политика</a></li>
      <li><a href="certificate.html">сертификаты</a></li>
      <li><a href="akcii.html">акции</a></li>
      <li><a href="brands.html">бренды</a></li>
      <li><a href="reg1.html">регистрация 1</a></li>
      <li><a href="reg2.html">регистрация 2</a></li>
      <li><a href="reg3.html">регистрация 3</a></li>
      <li><a href="reg4.html">регистрация 4</a></li>
      <li><a href="reg5.html">регистрация 5</a></li>

    </ul>
  </div><!--end container -->
</section><!--end content -->



<%= _.template(require('./../includes/footer.html').default)(data) %>

<%= _.template(require('./../includes/end-of-page.html').default)() %>
