<% var classes = {
  bodyClass: "home-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="">Главная</a></li>
      <li><a href="">Каталог</a></li>
    </ul>
    <div class="content-wrapper">
      <div class="content">
        <h2 class="line-h1 line-h1--black">Политика конфиденциальности</h2>

        <article class="article">
          <h3>Соглашение на обработку персональных данных</h3>

          <p>Добро пожаловать на сайт medexpertservice.ru.<br>
          Пожалуйста, внимательно прочитайте данные правила и условия использования перед началом использования Сайта.<br>
          Пользуясь Сайтом, вы признаете, что прочитали, поняли и согласились с нижеперечисленными положениями и условиями.<br>
          Информация, представленная на Сайте, предназначена для общих информационных и образовательных целей и для любой аудитории: медицинских работников и широкой общественности.<br>
            Продавец уважает конфиденциальность посетителей Сайта — Пользователей. Посещение Сайта в познавательных целях не требует регистрации в какой-либо форме, что позволяет посещать Сайт, не сообщая ничего о себе. Тем не менее, для предоставления некоторых услуг и совершения покупок могут потребоваться персональные данные. Пользователям может потребоваться пройти процедуру авторизации и предоставить установленный Продавцом пакет документов, содержащий как персональные данные, так и изображения граждан. В таких случаях, если Пользователь предпочтет скрыть персональную информацию, запрашиваемую Продавцом, получить доступ к некоторым частям или функциям Сайта станет невозможно. При этом Продавец не сможет ответить на заявку или выполнить заказ Пользователя.</p>

          <p>Настоящим я даю согласие на автоматизированную, а также без использования средств автоматизации,  обработку моих персональных данных обществом с ограниченной ответственностью «МедЭксперт Сервис» (далее - Продавец), находящимся по адресу: 620062, Российская Федерация, г. Екатеринбург, проспект Ленина, д.68, офис 201<br>
          Продолжая использовать Сайт, в том числе после прохождения процедуры авторизации, Пользователь, руководствуясь Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», дает свое согласие Продавцу на обработку своих персональных данных, предоставленных при использовании Сайта и указанных при оформлении заказов, для следующих целей:<br>
          •	создания профиля врача/клиники;<br>
          •	подтверждения профессиональной квалификации;
          •	проверки допуска к работе с определенными группами препаратов;<br>
          •	отслеживания рейтинга профиля врача/клиники;<br>
          •	оформления заказов на препараты;<br>
          •	предоставления поддержки при использовании сайта https://medexpertservice.ru  и его сервисов;<br>
          •	рассылки рекламных и маркетинговых материалов и сообщений;<br>
          •	улучшения сайта и его сервисов;<br>
            •	получения отзывов и пожеланий по работе сайта.</p>


          <p>Перечень моих персональных данных, на обработку которых я даю согласие:<br>
          •	 фамилия, имя и отчество;<br>
          •	дата и место рождения;<br>
          •	 адрес места жительства, пребывания и почтовый адрес;<br>
          •	 контактный телефон;<br>
          •	 адрес электронной почты;<br>
          •	фото- или скан-копия паспорта (разворот с фото);<br>
          •	фото- или скан-копия документов об образовании, профессиональной переподготовке, повышении квалификации медицинских работников;<br>
          •	фото- или скан-копия свидетельства о браке (если фамилии в документах различаются).<br>
          •	Дополнительные сведения, указанные при заполнении формы на Сайте или в Мобильном приложении.
          Пользователь в соответствии с требованиями пункта 1 статьи 152.1 Гражданского кодекса РФ дает согласие на использование своего изображения (в том числе фотографии в документах). При этом Продавец гарантирует, что изображение, принадлежащее Пользователю, будет использоваться исключительно для выполнения обязательств перед Пользователем и не должно передаваться третьим лицам иначе как по основаниям и в порядке, установленным законодательством Российской Федерации.<br>
          Согласие Пользователя на обработку персональных данных и использование своего изображения является конкретным, информированным и сознательным.<br>
          Пользователь соглашается на передачу своих персональных данных третьим лицам для их обработки в соответствии с целями, предусмотренными настоящим согласием, на основании договоров, заключенных Продавцом с этими лицами.<br>
          Продавец несет ответственность за обработку персональных данных, собранных через Сайт, и гарантирует их уничтожение либо обезличивание по достижении целей обработки или в случае утраты необходимости в достижении этих целей в том числе на территории иностранного государства. Обезличенные персональные данные могут использоваться Продавцом в статистических (и иных исследовательских) целях, в том числе и после достижения целей, для которых настоящее согласие было получено.<br>
            Пользователь дает согласие на следующие способы обработки персональных данных: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), обезличивание, извлечение, использование, передача (распространение, предоставление, доступ), включая трансграничную передачу, в том числе сотрудникам Call-Центра, партнерам Оператора (страховым компаниям и другим, обезличивание, блокирование, удаление, уничтожение.</p>

          <p>Настоящее согласие действует до достижения целей обработки персональных данных. Настоящее согласие, направляемых (заполненных) с использованием настоящего Сайта может быть отозвано  Пользователем путем подачи письменного заявления (отзыва) в адрес Продавца: 620062, Российская Федерация, г. Екатеринбург, проспект Ленина, д.68, офис 201. Обработка персональных данных прекращается в течение одного месяца с момента получения Продавцом письменного заявления (отзыва).<br>
          Мне разъяснено, что при отзыве мною согласия Оператор (или уполномоченный им оператор) вправе продолжить обработку моих персональных данных в случаях, предусмотренных Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».<br>
          Продавец оставляет за собой право в одностороннем порядке вносить изменения в условия настоящего Соглашения. Изменения условий вступают в силу с момента их публикации на Сайте.
            К настоящему Соглашению и отношениям, возникающим в связи с применением Соглашения, подлежит применению право Российской Федерации.</p>

        </article>


      </div><!--end content -->
    </div><!--end content-wrapper -->
  </div><!--end container -->
</section><!--end content -->


<%= _.template(require('./../includes/footer.html').default)(data) %>

<%= _.template(require('./../includes/end-of-page.html').default)() %>
