<% var classes = {
bodyClass: "home-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main">
  <div class="container">
    <div class="content-wrapper">
      <div class="content">
        <div class="reg-tabs reg-tabs--selected">
          <div class="item-reg reg2">
            <div class="icon"><img class="market" src="img/market.svg" alt=""></div>
            <div class="b-btn">
              <a href="#" class="btn-link">
                магазин
                <svg class="icon icon-arr-r"><use xlink:href="#icon-arr-r"></use></svg>
              </a>
            </div>
          </div>
        </div>
        <div class="form-registration">
          <div class="b-btn-reg"><a href="#" class="btn-orange">войти как гость</a></div>
          <div class="form-reg-ili">или</div>
          <div class="form-gr">
            <label for="">Войти по номеру телефона</label>
            <input type="text" placeholder="Ведите номер телефона" class="input phone_mask">
          </div>
          <div class="form-reg-ili">или</div>
          <div class="form-gr">
            <label for="">Войти с помощью эл. почты:</label>
            <input type="text" placeholder="Email" class="input">
          </div>
          <div class="reg-links">
            Нет учётной записи?<br>
            <a href="#">Зарегистрироваться</a>
          </div>
          <div class="b-btn-reg"><a href="#" class="btn-orange">Продолжить</a></div>
        </div><!--end form-registration -->


      </div><!--end content -->
    </div><!--end content-wrapper -->
  </div><!--end container -->
</section><!--end content -->


<%= _.template(require('./../includes/footer.html').default)(data) %>

<%= _.template(require('./../includes/end-of-page.html').default)() %>
