<% var classes = {
bodyClass: "home-page"
}; %>

<%= _.template(require('./../includes/header.html').default)(classes) %>
<div class="icon-sprite" style="position: absolute; width: 0; height: 0;" aria-hidden="true"><%= compilation.assets['spritemap.svg'].source() %></div>

<section class="main">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="">Главная</a></li>
      <li><a href="">Каталог</a></li>
    </ul>
    <div class="content-wrapper">
      <div class="content">
        <h2 class="line-h1 line-h1--blue">Возврат и обмен парфюмерно-косметических средств</h2>
        <article class="article">
          <p>Парфюмерно-косметические товары входят в перечень непродовольственных товаров утвержденный Постановлением Правительства РФ № 55 от 19.01.08 г., не подлежащих возврату или обмену: п. 3. парфюмерно-косметические средства.
            По ст. 18 закона «О защите прав потребителей» право Покупателя на возврат уплаченных за товар д/с, обмен товара, ремонт подлежат удовлетворению только в случаях наличия в товаре недостатков, возникших по вине продавца/производителя.</p>
        </article>

      </div><!--end content -->
    </div><!--end content-wrapper -->
  </div><!--end container -->
</section><!--end content -->


<%= _.template(require('./../includes/footer.html').default)(data) %>

<%= _.template(require('./../includes/end-of-page.html').default)() %>
